In [ ]:
import sqlite3
conn=sqlite3.connect("onthi.db")
cursor=conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXITS CUAHANG(
    CUAHANG(MACH,TenCH,GioMoCua,GioDongCua)
)
               
               """)

In [2]:
import sqlite3
from datetime import date

# 1) K·∫øt n·ªëi SQLite
conn = sqlite3.connect("restaurant.db")
conn.execute("PRAGMA foreign_keys = ON;")
cur = conn.cursor()

# 2) X√≥a b·∫£ng c≈© (n·∫øu ch·∫°y nhi·ªÅu l·∫ßn)
cur.executescript("""
DROP TABLE IF EXISTS DANHGIA;
DROP TABLE IF EXISTS DATMON;
DROP TABLE IF EXISTS KHACHHANG;
DROP TABLE IF EXISTS MONAN;
DROP TABLE IF EXISTS LOAIMON;
DROP TABLE IF EXISTS CUAHANG;
""")

# 3) T·∫°o b·∫£ng k√®m r√†ng bu·ªôc
cur.executescript("""
CREATE TABLE CUAHANG(
  MaCH INTEGER PRIMARY KEY,
  TenCH TEXT NOT NULL UNIQUE,
  GioMoCua TEXT NOT NULL,
  GioDongCua TEXT NOT NULL
);

CREATE TABLE LOAIMON(
  MaLM INTEGER PRIMARY KEY,
  TenLM TEXT NOT NULL UNIQUE
);

CREATE TABLE MONAN(
  MaMA INTEGER PRIMARY KEY,
  TenMA TEXT NOT NULL,
  MaLM INTEGER NOT NULL,
  GiaBan REAL NOT NULL CHECK(GiaBan > 0),
  FOREIGN KEY (MaLM) REFERENCES LOAIMON(MaLM) ON DELETE RESTRICT
);

CREATE TABLE KHACHHANG(
  MaKH INTEGER PRIMARY KEY,
  HoTen TEXT NOT NULL
);

CREATE TABLE DATMON(
  MaDM INTEGER PRIMARY KEY,
  MaMA INTEGER NOT NULL,
  SoLuong INTEGER NOT NULL CHECK(SoLuong > 0),
  FOREIGN KEY (MaMA) REFERENCES MONAN(MaMA) ON DELETE CASCADE
);

CREATE TABLE DANHGIA(
  MaDG INTEGER PRIMARY KEY,
  MaKH INTEGER NOT NULL,
  MaCH INTEGER NOT NULL,
  SoSao INTEGER NOT NULL CHECK(SoSao BETWEEN 0 AND 5),
  NgayDanhGia DATE NOT NULL,
  FOREIGN KEY (MaKH) REFERENCES KHACHHANG(MaKH) ON DELETE CASCADE,
  FOREIGN KEY (MaCH) REFERENCES CUAHANG(MaCH) ON DELETE CASCADE
);
""")

# 4) D·ªØ li·ªáu m·∫´u (5 c·ª≠a h√†ng, 10 lo·∫°i, 15 m√≥n, 15 ƒë∆°n, 12 ƒë√°nh gi√°)
cuahang = [
    (1, "PHO 24",        "07:00", "22:00"),
    (2, "C∆°m T·∫•m Cali",  "08:00", "21:30"),
    (3, "B√∫n Ch·∫£ H√† N·ªôi","09:00", "20:00"),
    (4, "Pizza 4P's",    "10:00", "23:00"),
    (5, "Highlands",     "06:00", "22:30")
]

loaimon = [(i, f"Lo·∫°i {i}") for i in range(1, 11)]

monan = [
    (1,  "Ph·ªü B√≤",            1, 45000),
    (2,  "Ph·ªü G√†",            1, 42000),
    (3,  "C∆°m T·∫•m S∆∞·ªùn",      2, 55000),
    (4,  "C∆°m T·∫•m B√¨",        2, 50000),
    (5,  "B√∫n Ch·∫£",           3, 60000),
    (6,  "Nem R√°n",           3, 30000),
    (7,  "Pizza Margherita",  4,150000),
    (8,  "Pizza Pepperoni",   4,170000),
    (9,  "C√† Ph√™ S·ªØa",        5, 35000),
    (10, "C√† Ph√™ ƒêen",        5, 30000),
    (11, "Tr√† ƒê√†o",           6, 40000),
    (12, "Tr√† V·∫£i",           6, 40000),
    (13, "B√°nh M√¨ Th·ªãt",      7, 25000),
    (14, "B√°nh M√¨ ·ªêp La",     7, 27000),
    (15, "B√°nh Bao",          8, 20000)
]

khachhang = [(i, f"Kh√°ch {i}") for i in range(1, 13)]

# 15 ƒë∆°n (MaDM 1-15) ‚Äì m·ªói ƒë∆°n ·ª©ng v·ªõi 1 m√≥n ƒë·ªÉ ƒë∆°n gi·∫£n
datmon = [(i, (i % 15) + 1, (i % 3) + 1) for i in range(1, 16)]

# 12 ƒë√°nh gi√°
danhgia = []
from datetime import date, timedelta
...
for i in range(1, 13):
    danhgia.append((
        i,
        i,
        (i % 5) + 1,
        i % 6,
        (date(2025, 6, 8) - timedelta(days=i)).isoformat()
    ))


# 5) Ch√®n d·ªØ li·ªáu
cur.executemany("INSERT INTO CUAHANG VALUES (?,?,?,?)", cuahang)
cur.executemany("INSERT INTO LOAIMON VALUES (?,?)", loaimon)
cur.executemany("INSERT INTO MONAN VALUES (?,?,?,?)",  monan)
cur.executemany("INSERT INTO KHACHHANG VALUES (?,?)",  khachhang)
cur.executemany("INSERT INTO DATMON VALUES (?,?,?)",   datmon)
cur.executemany("INSERT INTO DANHGIA VALUES (?,?,?,?,?)", danhgia)

conn.commit()
print("ƒê√£ kh·ªüi t·∫°o xong c∆° s·ªü d·ªØ li·ªáu!")
conn.close()

ƒê√£ kh·ªüi t·∫°o xong c∆° s·ªü d·ªØ li·ªáu!

In [4]:
import sqlite3

# K·∫øt n·ªëi
conn = sqlite3.connect("restaurant.db")
cur = conn.cursor()

# Truy v·∫•n doanh thu theo c·ª≠a h√†ng v√† lo·∫°i m√≥n
query = """
SELECT 
    CH.TenCH,
    LM.TenLM,
    SUM(DM.SoLuong * MA.GiaBan) AS DoanhThu
FROM DATMON DM
JOIN MONAN MA ON DM.MaMA = MA.MaMA
JOIN LOAIMON LM ON MA.MaLM = LM.MaLM
-- G√°n t·∫°m c·ª≠a h√†ng theo modulo (MaMA % 5 + 1)
JOIN CUAHANG CH ON CH.MaCH = ((MA.MaMA - 1) % 5 + 1)
GROUP BY CH.TenCH, LM.TenLM
ORDER BY CH.TenCH, DoanhThu DESC;
"""

cur.execute(query)
rows = cur.fetchall()

# In k·∫øt qu·∫£
print("{:<20} {:<15} {:>10}".format("CuaHang", "LoaiMon", "DoanhThu"))
print("-" * 50)
for row in rows:
    print("{:<20} {:<15} {:>10,.0f}".format(row[0], row[1], row[2]))

conn.close()

CuaHang              LoaiMon           DoanhThu
--------------------------------------------------
B√∫n Ch·∫£ H√† N·ªôi       Lo·∫°i 4             340,000
B√∫n Ch·∫£ H√† N·ªôi       Lo·∫°i 2             165,000
B√∫n Ch·∫£ H√† N·ªôi       Lo·∫°i 7              25,000
C∆°m T·∫•m Cali         Lo·∫°i 4             150,000
C∆°m T·∫•m Cali         Lo·∫°i 6             120,000
C∆°m T·∫•m Cali         Lo·∫°i 1              84,000
Highlands            Lo·∫°i 3             120,000
Highlands            Lo·∫°i 8              60,000
Highlands            Lo·∫°i 5              30,000
PHO 24               Lo·∫°i 3              90,000
PHO 24               Lo·∫°i 6              80,000
PHO 24               Lo·∫°i 1              45,000
Pizza 4P's           Lo·∫°i 5             105,000
Pizza 4P's           Lo·∫°i 7              54,000
Pizza 4P's           Lo·∫°i 2              50,000

In [5]:
import sqlite3

# K·∫øt n·ªëi CSDL
conn = sqlite3.connect("restaurant.db")
cur = conn.cursor()

# Truy v·∫•n trung b√¨nh s·ªë sao v√† ph√¢n lo·∫°i
query = """
SELECT 
    CH.TenCH,
    ROUND(AVG(DG.SoSao), 2) AS TrungBinhSao,
    CASE 
        WHEN AVG(DG.SoSao) < 3.5 THEN 'C·∫ßn c·∫£i thi·ªán'
        WHEN AVG(DG.SoSao) <= 4.5 THEN 'T·ªët'
        ELSE 'Xu·∫•t s·∫Øc'
    END AS PhanLoai
FROM DANHGIA DG
JOIN CUAHANG CH ON DG.MaCH = CH.MaCH
GROUP BY DG.MaCH
ORDER BY TrungBinhSao DESC;
"""

# Th·ª±c hi·ªán truy v·∫•n
cur.execute(query)
results = cur.fetchall()

# In k·∫øt qu·∫£
print("{:<25} {:>15} {:<20}".format("T√™n C·ª≠a H√†ng", "TB S·ªë Sao", "Ph√¢n Lo·∫°i"))
print("-" * 60)
for ten, tb_sao, loai in results:
    print("{:<25} {:>15} {:<20}".format(ten, tb_sao, loai))

conn.close()

T√™n C·ª≠a H√†ng                    TB S·ªë Sao Ph√¢n Lo·∫°i
------------------------------------------------------------
PHO 24                                4.5 T·ªët
Highlands                             3.5 T·ªët
Pizza 4P's                            2.5 C·∫ßn c·∫£i thi·ªán
C∆°m T·∫•m Cali                          2.0 C·∫ßn c·∫£i thi·ªán
B√∫n Ch·∫£ H√† N·ªôi                        1.0 C·∫ßn c·∫£i thi·ªán

In [6]:
import sqlite3
import numpy as np

# K·∫øt n·ªëi
conn = sqlite3.connect("restaurant.db")
cur = conn.cursor()

# L·∫•y to√†n b·ªô SoLuong
cur.execute("SELECT SoLuong FROM DATMON")
soluongs = [row[0] for row in cur.fetchall()]

# T√≠nh Q1, Q3, IQR
q1 = np.percentile(soluongs, 25)
q3 = np.percentile(soluongs, 75)
iqr = q3 - q1

# Ng∆∞·ª°ng ph√°t hi·ªán ngo·∫°i lai
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

print(f"Q1 = {q1}, Q3 = {q3}, IQR = {iqr}")
print(f"Ng∆∞·ª°ng d∆∞·ªõi = {lower_bound}, Ng∆∞·ª°ng tr√™n = {upper_bound}")

# Truy v·∫•n c√°c b·∫£n ghi ngo·∫°i lai
cur.execute("""
SELECT * FROM DATMON 
WHERE SoLuong < ? OR SoLuong > ?
""", (lower_bound, upper_bound))

outliers = cur.fetchall()
print("\nüîç C√°c b·∫£n ghi ngo·∫°i lai:")
for row in outliers:
    print(row)

Q1 = 1.0, Q3 = 3.0, IQR = 2.0
Ng∆∞·ª°ng d∆∞·ªõi = -2.0, Ng∆∞·ª°ng tr√™n = 6.0

üîç C√°c b·∫£n ghi ngo·∫°i lai: